<app>
    <div class="bg-primary" style="height: 100%">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <h1 style="margin-top: 25%">WELCOME TO ANGULAR2 STARTER APP!!</h1>
                <h5>LOADING SITE...</h5>
            </div>
        </div>
    </div>
</app>
