 <div class="row">
     <div class="col-sm-3">
        <h4>MY CONTACTS</h4>
    </div>
    <div class="col-sm-3">
        <div>
            <a class="btn btn-primary btn-block" [routerLink]="['AddContact']">ADD NEW CONTACT</a>
        </div>
    </div>
    <div class="col-md-4 col-sm-offset-2">
        <search-box [placeHolder]="'SEARCH CONTACTS...'" (value)="searchText = $event"></search-box>
    </div>
</div>
<hr/>
<div class="row">
    <div [ngClass]="{'col-sm-6': selectedContact, 'col-sm-12': !selectedContact}">
        <div class="row" *ngFor="#contact of contacts | filter: searchText : 'name'">
            <div class="col-xs-12">
                <contact-item [contact]="contact" (selected)="selectedContact = $event"></contact-item>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <contact-detail [contact]="selectedContact"></contact-detail>
    </div>
</div>